<div id="cart-drawer" class="cart-drawer hidden">
  <h2>Tu carrito</h2>
  <div class="cart-items">
    <button class="cart-remove">Eliminar</button>
  </div>
  <p>Total: <span id="cart-total">0.00 €</span></p>
  <a href="{{ routes.cart_url }}" class="button">Ver carrito</a>
  
</div>
