
  <div class="care-guide">
    {% if product.metafields.test_data.snowboard_length %}
  <p>Longitud de la snowboard: 
    {{ product.metafields.test_data.snowboard_length.value }}
  </p>
{% endif %}
  </div>
