<div id="cart-drawer" class="cart-drawer hidden">
  <h2>Tu carrito</h2>
  <div class="cart-items"></div>
  <p>Total: <span id="cart-total">$0.00</span></p>
  <button id="close-cart">Cerrar</button>
</div>
